.adminUser {
    background-color: #fff;
    color: #b89a67;
    font-family: 'Optima', 'URW Classico', 'Palatino Linotype', 'Book Antiqua', serif;
    width: 100%;
    box-sizing: border-box;
}

.adminUser-content {
    padding: 24px 40px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 70vh;
    max-width: 1200px;
}

.adminUser-header {
    margin-bottom: 2rem;
    text-align: center;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid #ddd;
    padding: 10px 12px;
    text-align: center;
}

.user-table th {
    background-color: #f5f5f5;
    color: #b89a67;
    font-weight: 600;
}

.user-table tr:nth-child(even) {
    background-color: #fafafa;
}

.user-table tr:hover {
    background-color: #f2f2f2;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.actions .edit-btn svg {
    color: #b89a67;
}

.actions .delete-btn svg {
    color: #b87a67;
}
