.admin {
    background-color: #fff;
    color: #b89a67;
    font-family: 'Optima', 'URW Classico', 'Palatino Linotype', 'Book Antiqua', serif;
    height : 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}