.booking-confirmation{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.booking-confirmation-page  {
    background-color: #fff;
    color: #333;
    font-family: 'Optima', 'URW Classico', 'Palatino Linotype', 'Book Antiqua', serif;
    width: 100%;
    box-sizing: border-box;
}

.booking-confirmation-content {
    padding: 60px 80px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 75vh;
    max-width: 1100px;
}

.booking-confirmation-content h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #b89a67;
    margin-bottom: 0.5rem;
}

.booking-confirmation-desc {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

/* -------------------- */
.booking-confirmation-body{
    margin-bottom: 2rem;
    text-align: center;
}

.booking-confirmation-table{
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 20px;
}
.booking-confirmation-table th,
.booking-confirmation-table td {
    border: 1px solid #ddd;
    padding: 10px 12px;
    text-align: center;
}

.booking-confirmation-table th {
    background-color: #f5f5f5;
    color: #b89a67;
    font-weight: 600;
}

.booking-confirmation tr:nth-child(even) {
    background-color: #fafafa;
}

.booking-confirmation tr:hover {
    background-color: #f2f2f2;
}