.signin {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: 'Optima', 'URW Classico', 'Palatino Linotype', 'Book Antiqua', serif;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(70%);
}

nav {
  position: relative;
  z-index: 2;
}

.form-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; 
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 380px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 30px;
  box-shadow: 0 0 30px #000;
  color: #fff;
  text-align: center;
}

.form-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.form-header button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-header button.active {
  color: #B89A67;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form h2 {
  font-size: 1rem;
  margin-bottom: 6px;
  color: #fff;
}

.form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #B89A67;
  padding: 8px 4px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #B89A67;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.submit-btn:hover {
  background-color: #423010;
  transform: background-color 1s ease-in-out
}
